body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/*NAVBAR*/
.bg-primary-color{
    background-color: #87CEEB;
}

.primary-color{
    color: white;
}

.bg-secondary-color{
    background-color: white;
}

.secondary-color{
    color: black;
}

#navbar a:hover{
    color: white;
}

#navbar a.active {
    border-bottom: 1px solid black;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 0.5em;
}

.navbar-brand span{
    font-weight: 400;
    font-size: 1.3em;
    /*margin-left: 0.5em;*/
}

#navbar-items .nav-item{
    margin: 0 0.7em;
}

/*SLIDER*/
.carousel-inner{
    margin-top: 1em;
}

#carouselExampleIndicators, .col-md-8{
    margin-top: 100px;
}

.carousel {
    margin: 0 auto; 
    width: 90%; 
    height: 1200px; 
  }
  
.carousel-item {
    height: 400px; 
}
  
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-header {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}

.carousel-header p {
    font-weight: 500;
    margin-top: 0.5em;
}

  /*MAP*/
.iframe-container{
    width: 85%;
}

.iframe {
    display: block;
    height: 400px;
    width: 100%; /* Defina a largura desejada, como 90% */
}

.map-header {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    font-weight: 500;
    margin-top: 1em;
}

 /*CARDS*/
.container-cards {
    width: 90%;
    max-width: 85%;
    display: block;
    margin: 1rem auto;
}

.album{
    padding:1rem 0;
    height: 85%;
}

.cards-header {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    font-weight: 500;
    margin-top: 1em;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-weight: 500;
    font-size: 1.2em;
    margin: 0.5em 0;
}

.card-text {
    color: #555;
}

.btn-primary {
    background-color: #87CEEB;
    border-color: #87CEEB;
}

.btn-primary:hover {
    background-color: #6CA6CD;
    border-color: #6CA6CD;
    color: white;
}

/* Rodapé */
.footer {
    background-color: white; /* Defina a cor de fundo desejada */
    padding: 20px 0;
    margin-top: 1em; /* Ajuste a margem superior conforme necessário */
}